/*//////////*/
.OrderBorder {
  border: 1px solid lightgray;
  width: 100%;
}


/*//////////*/

.Order-common {
  width: 100%;
  align-items: center;
  display: flex;
  color: gray;
  margin-left: 2rem;
}

.grid {
  border-bottom: 1px solid #8a8a8a;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

/*//////////*/

.MainContainer {
  display: flex;
  flex-direction: row;
}

.OrderDetail {
  box-shadow: 1px 1px 3px 1px lightgray;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
}

.Inquiry-Detail-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: start;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1.5px solid lightgray;
}

.Inquiry-Delivery-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: start;
  text-align: center;
  padding: 10px;
  border-bottom: 1.5px solid lightgray;
  height: 100px;
  align-items: center;
}

.Inquiry-Delivery-small-wrapper {
  text-align: end;
  font-size: small;
  margin-right: 1.6rem;
  margin-top: 1rem;
}

.Inquiry-Delivery {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.cell-top {
  border: 1px solid #d2d2d7;
  padding: 20px;
  text-align: center;
}

.cell-bottom {
  padding: 20px;
  text-align: center;
}

.Inquiry-Delivery-top {
  border: 1.5px solid #8a8a8a;
  background-color: #f5f5f5;
}

.Inquiry-Delivery-bottom {
  border: 1.5px solid #8a8a8a;
}

.OrderDetail h2 {
  margin-top: 3rem;
}

.Inquiry-Delivery-wrapper img {
  width: 100px;
  height: 100px;
}

.button {
  width: 100%;
  background-color: #000000;
  border-radius: 3px;
  color: white;
  padding: 10px;
  margin: 6px 0;

}

.button:hover {
  cursor: pointer;
}

.button a {
  color: white;
}

.button {
  width: 100%;
  background-color: #000000;
  border-radius: 3px;
  color: white;
  padding: 10px;
  margin: 6px 0;

}

.OrderIMG {
  width: 200px;
  margin-left: auto;
}
