.MainContainer {
    display: flex;
}

.left-Container {
    flex-direction: row;
}

.Right-Container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

/*//////////*/
.OrderBorder {
    border: 1px solid #D9D9D9;
}

/*//////////*/

.Top-Container h1 {
    box-shadow: 1px 1px 3px 1px lightgray;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 2rem;
}

.Middle-Container {
    box-shadow: 1px 1px 3px 1px lightgray;
    padding: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.Bottom-Container {
    box-shadow: 1px 1px 3px 1px lightgray;
    padding: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    height: 530px;
}

.Order-Inquiry-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: start;
    text-align: center;
    margin-top: 1rem;
    background-color: #F1F2F4;
    border: #D9D9D9 solid 1px;
    padding: 10px;
}

.OrderCount-Container {
    margin-bottom: 1rem;
}

.order-select {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.order-select-detail {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: start;
    text-align: center;
    border: #D9D9D9 solid 1px;
    font-size: 12px;
    background: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
}

.paginationBT {
    color: black;
    background-color: white;
    border: white;
    cursor: pointer
}

.pagination {
    text-align: center;
}

.paginationBT.active {
    font-weight: bold;
}

.order_select_checkbox {
    display: flex;
    flex-direction: row;

}

.order_select_checkbox p {
    margin-left: 80px;
}
