#product-intro-image-input {
  display: flex;
  justify-content: center;
}

#product-intro-image-input .image-input-input {
  display: none;
}

#product-intro-image-input .image-input .image-crop {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#product-intro-image-input .image-input .image-crop .image-preview {
  width: 100%;
}

#product-intro-image-input .image-input .image-crop:hover .image-preview {
  background-color: rgba(0, 0, 0, 0.1);
  filter: brightness(90%);
  transition: 0.3s;
}

#product-intro-image-input .image-input .image-crop .button {
  display: none;
  position: absolute;
  margin: 0;
  padding: 5px;
  bottom: 0;
  z-index: 1;
}

#product-intro-image-input .value .image-crop:hover .button {
  display: block;
}
