@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('/src/global/fonts/OTF/GmarketSansMedium.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
a,
button,
input,
th,
td {
  font-family: 'GmarketSansMedium' !important;
}

div,
span,
a,
button,
input,
th,
td {
  font-size: 13px;
}

#product-option-input {
  text-align: center;
  padding: 0 15px;
}
